name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  # =======================
  #       CI JOB
  # =======================
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build

      # (optional) lint step
      # - name: Run lint
      #   run: npm run lint

  # =======================
  #       CD JOB
  # =======================
  deploy:
    needs: build     # <---- DO NOT REMOVE. Makes CD wait for CI to pass.
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_KEY }}

          script: |
            cd ~/Expense-tracker-backend
            git pull origin main
            chmod +x deploy.sh
            ./deploy.sh
